mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e10600;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

}

mat-toolbar button {
  color: white;
  background-color: #e10600;
  color: white;
  border: none;
  padding: 20px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: background-color 0.3s;

}

.flex-spacer {
  flex: 1;
}
