<div class="constructor-grid">
  <mat-card *ngFor="let constructor of constructors" class="constructor-card">
    <div class="card-content">
      <div class="constructor-info">
        <div class="constructor-logo" [style.background-image]="'url(' + constructor.logoUrl + ')'"></div>
        <div>
          <mat-card-title>{{constructor.name}}</mat-card-title>
          <mat-card-subtitle>{{constructor.nationality}}</mat-card-subtitle>
        </div>
      </div>
      <mat-card-content>
        <p>Explorez l'héritage et les réalisations de {{constructor.name}}.</p>
      </mat-card-content>
    </div>
    <mat-card-actions>
      <button mat-button (click)="constructorIsInFavorites(constructor) ? deleteFavorite(constructor.constructorId) : addFavorite(constructor.constructorId)">
        {{ constructorIsInFavorites(constructor) ? 'SUPPRIMER' : 'FAVORIS' }}
      </button>
      <button mat-button><a href="{{constructor.url}}" target="_blank" rel="noopener">PLUS D'INFO</a></button>
    </mat-card-actions>
  </mat-card>
</div>
