.constructor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding: 25px;
  box-sizing: border-box;
}

.constructor-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.18);
  }
}

.card-content {
  padding: 15px;
}

.constructor-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.constructor-logo {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #fafafa;
}

button.mat-button {
  border-radius: 20px;
  font-weight: bold;
  &:hover {
    background-color: #eeeeee;
  }
}

a {
  color: #007BFF;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
