<div class="driver-grid">
  <mat-card *ngFor="let driver of drivers" class="driver-card">
    <div class="card-content">
      <div class="driver-info">
        <div class="driver-avatar" [style.background-image]="'url(' + driver.imageUrl + ')'"></div>
        <div>
          <mat-card-title>{{driver.givenName}} {{driver.familyName}}</mat-card-title>
          <mat-card-subtitle>{{driver.nationality}}</mat-card-subtitle>
        </div>
      </div>
      <div class="driver-details">
        <p>Numéro: {{driver.permanentNumber}}</p>
        <p>Code: {{driver.code}}</p>
        <p>Date de naissance: {{driver.dateOfBirth | date: 'longDate'}}</p>
        <p>        </p>
      </div>
    </div>
    <mat-card-actions>
      <button mat-button>FAVORIS</button>
      <button mat-button><a href="{{driver.url}}" target="_blank" rel="noopener">PLUS D'INFO</a></button>
    </mat-card-actions>
  </mat-card>
</div>
