<div class="container">
    <form #f="ngForm" class="login-form" (ngSubmit)="onSubmit(f.value)">
        <h1>CONNEXION</h1>
        <div class="form-field">
            <input matInput placeholder="Login" ngModel name="login" required>
        </div>
        <div class="form-field">
            <input matInput type="password" placeholder="Mot de passe" ngModel name="password" required>
        </div>
        <button type="submit">Connexion</button>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
  </div>
